<h3><%= link_to repo.name, repo.url %></h3>
<p><%= repo.description %></p>

<% if repo.civic_present? %>
  <%= image_tag(repo.thumbnail, height: 150) unless repo.thumbnail.nil? %>
  <p><strong>Status:</strong> <span class="label label-primary"><%= repo.status %></span></p>
  <p><strong>Owner:</strong> <span class="label label-success"><%= repo.owner['name'] %></span></p>
  <p><strong>Service Categories:</strong>
      <% repo.service_categories.each do |s| %>
        <span class="label label-success"><%= s['name'] %></span>
      <% end %>
  </p>
  <p><strong>Technologies:</strong>
      <% repo.technologies.each do |t| %>
        <span class="label label-success"><%= t['name'] %></span></p>
      <% end %>
  </p>
<% end %>
