<tr class="repo">
  <td>
    <h3><%= link_to repo.name, repo.url %></h3>
    <%= image_tag repo.thumbnail, height: 100, alt: repo.name, class: "pull-left" unless repo.thumbnail.blank? %>
    <p><strong>Created:</strong> <%= time_ago_in_words repo.created %> ago</p>
    <p><strong>Language:</strong> <%= repo.language || "Unknown" %></p>

  </td>

  <td>
    <p><%= repo.description %></p>
    <h4>Contributors</h4>
    <% repo.contributors.each do |c| %>
      <%= link_to image_tag(c["avatar_url"] + "s=48", alt: c["name"], width: 48, height: 48, class: "img-thumbnail"), c["url"] %>
    <% end %>
    <% if repo.civic_present? %>
      <p><strong>Status:</strong> <span class="label label-primary"><%= repo.status %></span></p>
      <p><strong>Owner:</strong> <span class="label label-success"><%= repo.owner['name'] %></span></p>
      <% if repo.service_categories.length > 0 %>
        <p><strong>Service Categories:</strong>
            <% repo.service_categories.each do |s| %>
              <span class="label label-success"><%= s['name'] %></span>
            <% end %>
        </p>
      <% end %>
      <p><strong>Technologies:</strong>
          <% repo.technologies.each do |t| %>
            <span class="label label-success"><%= t['name'] %></span></p>
          <% end %>
      </p>
    <% end %>
  </td>

  <td class="text-center">
    <%= link_to repo.commits, repo.commit_link, class: "btn btn-info" %>
  </td>

  <td class="text-center">
    <%= link_to repo.stars, repo.stars_link, class: "btn btn-info" %>
  </td>

  <td class="text-center">
    <%= link_to repo.forks, repo.forks_link, class: "btn btn-info" %>
  </td>

  <td class="text-center">
    <%= link_to repo.issues, repo.issues_link, class: "btn btn-info" %>
  </td>


</tr>
